{% extends "layouts/base.html" %}

{% block content %}

<h3>Tag <code>pre</code></h3>
<pre>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur expedita vel ut tempora. Architecto deserunt aliquam blanditiis rerum fuga quos nobis iste nesciunt reprehenderit facere? Ullam dolorem voluptate aliquam perferendis?
</pre>

<h3>Tag <code>code</code></h3>
<code>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores eaque itaque cum, dolore repellendus sunt expedita ipsa provident distinctio totam, debitis tempore soluta praesentium quibusdam ex atque labore pariatur.
</code>

<h3>Tag <code>samp</code></h3>
<samp>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam blanditiis qui aut, ducimus quod suscipit soluta! Reprehenderit, deleniti veritatis, similique voluptatem atque praesentium odio accusantium facilis omnis velit ad perferendis?
</samp>

<h3>Class <code>.sr</code></h3>
<p class="sr">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias facere nostrum fuga deserunt ratione, quisquam ipsam reprehenderit corrupti nisi explicabo temporibus aut autem tenetur. Veniam quos commodi sit ipsum maxime!
</p>

<h3>Tag <code>b, strong</code> / Class <code>.b, .strong</code></h3>
<b>Lorem</b>
<strong>Lorem</strong>
<span class="b">Lorem</span>
<span class="strong">Lorem</span>

<h3>Tag <code>em</code> / Class <code>.em</code></h3>
<em>Lorem</em>
<span class="em">Lorem</span>

<h3>Tag <code>h1-h6</code></h3>
<h1>Lorem</h1>
<h2>Lorem</h2>
<h3>Lorem</h3>
<h4>Lorem</h4>
<h5>Lorem</h5>
<h6>Lorem</h6>

<h3>Tag <code>p</code></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse deleniti error commodi sit, adipisci molestiae sequi cupiditate nobis culpa quis vitae, reiciendis laboriosam? Id quae quo suscipit nobis assumenda!</p>
{% endblock content %}
